<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h1>Welcome {{ username }}</h1>
    <h3>Below is your login history:</h3>
    <table>
      <tr>
        <td>User name</td>
        <td>Time</td>
      </tr>
      {% for h in history %}
      <tr>
        <td>{{ user_name }}</td>
        <td>{{ h.time }}</td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
