<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h1>Welcome {{ username }}</h1>
    <h3>Below is your card {{card_num}} transaction history:</h3>

    <table>
      <tr>
        <td>Card Num</td>
        <td>Amount</td>
        <td>Time</td>
        <td>Receive Card Number</td>
      </tr>
      {% for t in trans%}
      <tr>
        <td>{{ t.card_num}}</td>
        <td>{{ t.amount }}</td>
        <td>{{ t.time }}</td>
        <td>{{ t.receive_card_num }}</td>
      </tr>
      {% endfor %}
    </table>
    <hr>
    <h2>Add New Transaction</h2>
    <form action="http://localhost:5000/user/transaction" method="post">
      Card Number: <input type="text" name="card_num" value="{{card_num}}" placeholder="{{card_num}}"><br>
      Amount: <input type="text" name="amount" value=""><br>
      Receive Card Num: <input type="text" name="receive_card_num" placeholder="Can leave it empty"><br>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
