<!DOCTYPE html>
<!DOCTYPE html>
<html>

  <body>
    <h1>Welcome New Customer</h1>
    <h3>Please provide following information to sign up:</h3>
    <form action="http://localhost:5000/user/signup" method="post">
      username: <input type="text" name="user_name"><br>
      password: <input type="password" name="password"><br>
      <hr>
      Name: <input type="text" name="name" value=""><br>
      SSN: <input type="text" name="ssn" value=""><br>
      Date of Birth: <input type="date" name="dob"><br>
      Sex: <input type="radio" name="sex" value="Male">Male</input><input type="radio" name="sex" value="Female">Female</input><br>
      Phone: <input type="text" name="phone" placeholder="1234567890"><br>
      Address: <input type="text" name="address"><br>
      Email: <input type="email" name="email"><br>
      <input type="submit" value="submit">
    </form>


  </body>

</html>
